## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import gkey

# Configure gmaps API key
gmaps.configure(api_key=gkey)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Discription
0,0,Bethel,US,41.3712,-73.4140,76.41,81,40,0.00,scattered clouds
1,1,Albany,US,42.6001,-73.9662,79.81,78,98,3.38,overcast clouds
2,2,Port Blair,IN,11.6667,92.7500,82.80,83,69,9.46,broken clouds
3,3,Luang Prabang,LA,19.8856,102.1347,80.58,79,100,2.17,overcast clouds
4,4,Obo,CF,5.3998,26.4869,79.70,71,99,3.76,light rain

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Discription
0,0,Bethel,US,41.3712,-73.4140,76.41,81,40,0.00,scattered clouds
1,1,Albany,US,42.6001,-73.9662,79.81,78,98,3.38,overcast clouds
2,2,Port Blair,IN,11.6667,92.7500,82.80,83,69,9.46,broken clouds
3,3,Luang Prabang,LA,19.8856,102.1347,80.58,79,100,2.17,overcast clouds
4,4,Obo,CF,5.3998,26.4869,79.70,71,99,3.76,light rain
5,5,Lasa,IT,46.6166,10.7002,75.11,83,80,5.06,broken clouds
10,10,Mount Pleasant,US,32.7941,-79.8626,86.07,82,20,1.99,few clouds
15,15,Drensteinfurt,DE,51.7953,7.7382,71.22,52,100,15.90,overcast clouds
16,16,Oistins,BB,13.0667,-59.5333,86.09,70,40,23.02,scattered clouds
17,17,Celestun,MX,20.8667,-90.4000,80.73,76,2,9.08,clear sky

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                3
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Discription    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Discription", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Discription,Lat,Lng,Hotel Name
0,Bethel,US,76.41,scattered clouds,41.3712,-73.4140,
1,Albany,US,79.81,overcast clouds,42.6001,-73.9662,
2,Port Blair,IN,82.80,broken clouds,11.6667,92.7500,
3,Luang Prabang,LA,80.58,overcast clouds,19.8856,102.1347,
4,Obo,CF,79.70,light rain,5.3998,26.4869,
5,Lasa,IT,75.11,broken clouds,46.6166,10.7002,
10,Mount Pleasant,US,86.07,few clouds,32.7941,-79.8626,
15,Drensteinfurt,DE,71.22,overcast clouds,51.7953,7.7382,
16,Oistins,BB,86.09,scattered clouds,13.0667,-59.5333,
17,Celestun,MX,80.73,clear sky,20.8667,-90.4000,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": gkey
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    params["location"] = f"{lat},{lng}"
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

hotel_df.head()

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Current Discription,Lat,Lng,Hotel Name
0,Bethel,US,76.41,scattered clouds,41.3712,-73.4140,Courtyard by Marriott Danbury
1,Albany,US,79.81,overcast clouds,42.6001,-73.9662,
2,Port Blair,IN,82.80,broken clouds,11.6667,92.7500,"Welcomhotel By ITC Hotels, Bay Island, Port Blair"
3,Luang Prabang,LA,80.58,overcast clouds,19.8856,102.1347,Villa Oasis
4,Obo,CF,79.70,light rain,5.3998,26.4869,

In [1]:
hotel_df.info

NameError: name 'hotel_df' is not defined

In [12]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(how="any")

In [13]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [15]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather</dt><dd>{Current Discription}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [16]:
# 11a. Add a marker layer for each city to the map. 
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)


# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))